<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:macro name="robot_ros2_control">

  <!-- ros2_control block -->
  <ros2_control name="gazebo_system" type="system">
    <hardware>
      <plugin>gz_ros2_control/GazeboSimSystem</plugin>
    </hardware>

    <!-- All joints -->
    <joint name="front_left_leg_joint">
      <command_interface name="position"/>
      <state_interface name="position"/>
    </joint>
    <joint name="front_right_leg_joint">
      <command_interface name="position"/>
      <state_interface name="position"/>
    </joint>
    <joint name="rear_left_leg_joint">
      <command_interface name="position"/>
      <state_interface name="position"/>
    </joint>
    <joint name="rear_right_leg_joint">
      <command_interface name="position"/>
      <state_interface name="position"/>
    </joint>
    <joint name="front_left_thigh_joint">
      <command_interface name="position"/>
      <state_interface name="position"/>
    </joint>
    <joint name="front_right_thigh_joint">
      <command_interface name="position"/>
      <state_interface name="position"/>
    </joint>
    <joint name="rear_left_thigh_joint">
      <command_interface name="position"/>
      <state_interface name="position"/>
    </joint>
    <joint name="rear_right_thigh_joint">
      <command_interface name="position"/>
      <state_interface name="position"/>
    </joint>
    <joint name="front_left_shin_joint">
      <command_interface name="position"/>
      <state_interface name="position"/>
    </joint>
    <joint name="front_right_shin_joint">
      <command_interface name="position"/>
      <state_interface name="position"/>
    </joint>
    <joint name="rear_left_shin_joint">
      <command_interface name="position"/>
      <state_interface name="position"/>
    </joint>
    <joint name="rear_right_shin_joint">
      <command_interface name="position"/>
      <state_interface name="position"/>
    </joint>
  </ros2_control>

  <!-- Gazebo plugins -->
  <gazebo>
    <plugin
      filename="gz_ros2_control-system"
      name="gz_ros2_control::GazeboSimROS2ControlPlugin">
      <ros2_parameters>
        <use_sim_time>true</use_sim_time>
        <robot_description>/quadruped/robot_description</robot_description>
        <parameters>$(find 41068_ignition_bringup)/config/robot_controller.yaml</parameters>
      </ros2_parameters>
    </plugin>

    <plugin
      filename="libgz-sim-joint-state-publisher-system"
      name="gz::sim::systems::JointStatePublisher"/>

    <plugin
      filename="libgz-sim-pose-publisher-system"
      name="gz::sim::systems::PosePublisher">
      <publish_link_pose>true</publish_link_pose>
      <use_pose_vector_msg>true</use_pose_vector_msg>
      <publish_nested_model_pose>true</publish_nested_model_pose>
    </plugin>

    <plugin 
      filename="gz-sim-imu-system"
      name="gz::sim::systems::Imu"/>
  </gazebo>

</xacro:macro>
</robot>
